.table th:first-of-type {
    width: 5%;
}


.header {
    position: sticky;
    background-color: var(--mantine-color-body);

    &[data-scrolling] {
        box-shadow: var(--mantine-shadow-sm);
    }
}

.matrikel_nr {
    width: 15%;
}

.name {
    width: 30%;
}