.table td {
    cursor: pointer;
}

.table th:last-of-type,
.table td:last-of-type {
    text-align: right;
    padding-right: var(--mantine-spacing-md);
}

.issuetable {
    cursor: pointer;
}

.issuetable th:last-of-type,
.issuetable th:nth-last-of-type(2) {
    text-align: right;

}

.issuetable td:last-of-type,
.issuetable td:nth-last-of-type(2) {
    text-align: right;

}