.table th:first-of-type {
    width: 10%;
}

.table th:nth-last-of-type(2),
.table th:nth-last-of-type(3) {
    width: 15%;
}

.header {
    position: sticky;
    background-color: var(--mantine-color-body);

    &[data-scrolling] {
        box-shadow: var(--mantine-shadow-sm);
    }
}