.table th:last-of-type,
.table th:nth-last-of-type(2),
.table td:last-of-type,
.table td:nth-last-of-type(2) {
    text-align: right;
}


.table th:first-of-type {
    width: 48px;
}

.table tr>td {
    cursor: pointer;
}

.header {
    position: sticky;
    background-color: var(--mantine-color-body);

    &[data-scrolling] {
        box-shadow: var(--mantine-shadow-sm);
    }
}